#main-card {
    background: rgba(255, 255, 255, 0.2); 
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(83, 2, 2, 0.2); /* Sombra más suave y visible */
    padding: 20px;
    margin: 10px;
    max-width: 250px;
    transition: transform 0.3s ease; 
  }
  
  #main-card:hover {
    transform: scale(1.05);
  }
  
  .image-container img {
    width: 100%;
    border-radius: 8px;
    max-height: 150px;
  }
  
  .info-container {
    margin-top: 10px;
  }
  
  .info-container h1 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .info-container p {
    font-size: 14px;
    color: grey; /* Cambiamos el color de los textos a blanco */
  }
  